## Introduction to Python SQL Libraries

In this activity we will work with three relational databases, SQlite, MySQL and PostgreSQL. All three of these database products are used for product develop and as well as Data Science.

By default SQLite should already be installed, as part of the Python installation process. SQLite databases are serverless and self-contained, since they read and write data to a file. This means that, unlike with MySQL and PostgreSQL, you don’t even need to install and run an SQLite server to perform database operations!

To install MySQL refer to this site:

https://dev.mysql.com

To install PostgreSQL refer to this site.

https://postgresql.org

We will start off by review the following high level database schema.

![image1.png](images/image1.png)


Both ``users`` and ``posts`` will have a one-to-many relationship since one user can like many posts. Similarly, one user can post many comments, and one post can have multiple comments. So, both ``users`` and ``posts`` will also have  one-to-many releationshops with the ``comments`` table. This also applies to the ``likes`` table, so both ``users`` and ``posts`` will have a one-to-many relationship with the ``likes`` table.


## Connecting to the three databases

We will first start off by walking through creating a connection to a SQLite database, then followed by MySQL and finally PostgreSQL

### Connecting to an SQLite database using sqlite3

We will import the sqlite3 library to connect to an SQLite database in Python:

In [1]:
import sqlite3

from sqlite3 import Error


def create_connection(path):

    connection = None

    try:

        connection = sqlite3.connect(path)

        print("Connection to SQLite DB successful")

    except Error as e:

        print(f"The error '{e}' occurred")


    return connection


- Lines 1 and 2 import ``sqlite3`` and the module’s ``Error`` class.

- Line 4 defines a function ``.create_connection()`` that accepts the path to the SQLite database.

- Line 7 uses ``.connect()`` from the sqlite3 module and takes the SQLite database path as a parameter. If the database exists at the specified location, then a connection to the database is established. Otherwise, a new database is created at the specified location, and a connection is established.

- Line 8 prints the status of the successful database connection.

- Line 9 catches any ``exception`` that might be thrown if ``.connect()`` fails to establish a connection.

- Line 10 displays the error message in the console.

Now that we have our function created for ``.create_conneciton()`` lets create a database called ``my_app.sqlite`` in the default folder for this Jupyter Notebook. Note if you are using windows the syntax  would be ``"E:\\my_app.sqlite"``.

In [2]:
connection = create_connection("New_app.sqlite")

Connection to SQLite DB successful

### Connecting to a MySQL

Unlike SQLite, there’s no default Python SQL module that you can use to connect to a MySQL database. Instead, you’ll need to install a Python SQL driver for MySQL in order to interact with a MySQL database from within a Python application. One such driver is mysql-connector-python. You can download this Python SQL module with ``pip install mysql-connector-python``. You will need to open up a terminal window or command prompt depending Operating System.

MySQL is a server-based database management system. One MySQL server can have multiple databases. Unlike SQLite, where creating a connection is tantamount to creating a database, a MySQL database has a two-step process for database creation:

- Make a connection to a MySQL server.
- Execute a separate query to create the database.

Lets start off by defining a function that connects to the MySQL database server and returns the connection object:

NOTE: if you encounter an access error establishing a connection to the database using Linux use the following to resolve your error: https://stackoverflow.com/questions/39281594/error-1698-28000-access-denied-for-user-rootlocalhost

In [ ]:
import mysql.connector

from mysql.connector import Error


def create_connection(host_name, user_name, user_password):

    connection = None

    try:

        connection = mysql.connector.connect(

            host=host_name,

            user=user_name,

            passwd=user_password

        )

        print("Connection to MySQL DB successful")

    except Error as e:

        print(f"The error '{e}' occurred")


    return connection


connection = create_connection("localhost", "root", "")

In the above script, we define a function ``create_connection()`` that accepts three parameters:

- ``host_name``
- ``user_name``
- ``user_password``

The mysql.connector Python SQL module contains a method ``.connect()`` that you use in line 7 to connect to a MySQL database server. Once the connection is established, the connection object is returned to the calling function. Finally, in line 18 you call ``create_connection()`` with the ``host name``, ``username``, and ``password``.

So far, you’ve only established the connection. The database is not yet created. To do this, you’ll define another function ``create_database()`` that accepts two parameters:

- connection is the connection object to the database server that you want to interact with.
- query is the query that creates the database.

Here’s what this function looks like:

In [ ]:
def create_database(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        print("Database created successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

To execute queries, you use the ``cursor`` object. The query to be executed is passed to ``cursor.execute()`` in string format.

Create a database named my_app for your social media app in the MySQL database server:

In [ ]:
create_database_query = "CREATE DATABASE my_app"
create_database(connection, create_database_query)

Now you’ve created a database my_app on the database server. However, the connection object returned by the ``create_connection()`` is connected to the MySQL database server. You need to connect to the my_app database. To do so, you can modify ``create_connection()`` as follows:

In [ ]:
import mysql.connector

from mysql.connector import Error


def create_connection(host_name, user_name, user_password, db_name):

    connection = None

    try:

        connection = mysql.connector.connect(

            host=host_name,

            user=user_name,

            passwd=user_password,
            
            database=db_name

        )

        print("Connection to MYSQL DB successful")

    except Error as e:

        print(f"The error '{e}' occurred")


    return connection


connection = create_connection("localhost", "root", "", "my_app")

## Creating Tables

In the previous section, you saw how to connect to SQLite, MySQL, and PostgreSQL database servers using different Python SQL libraries. You created the ``my_app`` database on all three database servers. In this section, you’ll see how to ``create tables`` inside these three databases.

As discussed earlier, you’ll create four tables:

- users
- posts
- comments
- likes

we will start off with SQLite.

### SQLlite Table Creation

To execute queries in SQLite, use ``cursor.execute()``. In this section, you’ll define a function ``execute_query()`` that uses this method. Your function will accept the connection object and a query string, which you’ll pass to ``cursor.execute()``.

``.execute()`` can execute any query passed to it in the form of string. You’ll use this method to create tables in this section. In the upcoming sections, you’ll use this same method to execute ``update`` and ``delete`` queries as well. This code tries to execute the given query and prints an error message if necessary.

In [ ]:
def execute_query(connection, query):
    cursor = connection.cursor()
    try:
        cursor.execute(query)
        connection.commit()
        print("Query executed successfully")
    except Error as e:
        print(f"The error '{e}' occurred")

Next we will generate our query for the ``Users`` table.

In [ ]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INTEGER PRIMARY KEY AUTOINCREMENT,
  name TEXT NOT NULL,
  age INTEGER,
  gender TEXT,
  nationality TEXT
);
"""

This says to create a table ``users`` with the following five columns:

- id
- name
- age
- gender
- nationality

Finally, we will call ``execute_query()`` to create the ``users`` table. You’ll pass in the connection object that you created in the previous section, along with the ``create_users_table`` string that contains the create table query:

In [ ]:
execute_query(connection, create_users_table)

Next we will generate our query for the ``posts`` table.

In [ ]:
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts(
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  title TEXT NOT NULL, 
  description TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id)
);
"""

In [ ]:
execute_query(connection, create_posts_table)

Next we will create the quesry for both the ``comments`` and ``likes`` table

In [ ]:
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  text TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  post_id INTEGER NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
  id INTEGER PRIMARY KEY AUTOINCREMENT, 
  user_id INTEGER NOT NULL, 
  post_id integer NOT NULL, 
  FOREIGN KEY (user_id) REFERENCES users (id) FOREIGN KEY (post_id) REFERENCES posts (id)
);
"""

execute_query(connection, create_comments_table)  
execute_query(connection, create_likes_table)

Now that our tables are created for SQLite lets create the tables for MySQL.

### MySQL Table Creation

We will use the ``mysql-connector-python`` Python SQL module to create tables in MySQL. Just like with SQLite, you need to pass your query to ``cursor.execute()``, which is returned by calling ``.cursor()`` on the connection object. You can create another function ``execute_query()`` that accepts the connection and query string:

In [ ]:
def execute_query(connection, query):

    cursor = connection.cursor()

    try:

        cursor.execute(query) # pass our Query through

        connection.commit()

        print("Query executed successfully")

    except Error as e:

        print(f"The error '{e}' occurred")

Now lets create the ``users`` table.

In [ ]:
create_users_table = """
CREATE TABLE IF NOT EXISTS users (
  id INT AUTO_INCREMENT, 
  name TEXT NOT NULL, 
  age INT, 
  gender TEXT, 
  nationality TEXT, 
  PRIMARY KEY (id)
) ENGINE = InnoDB
"""

execute_query(connection, create_users_table)

Now Lets create the ``posts`` table.

In [ ]:
create_posts_table = """
CREATE TABLE IF NOT EXISTS posts (
  id INT AUTO_INCREMENT, 
  title TEXT NOT NULL, 
  description TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  FOREIGN KEY fk_user_id (user_id) REFERENCES users(id), 
  PRIMARY KEY (id)
) ENGINE = InnoDB
"""

execute_query(connection, create_posts_table)

In [ ]:
create_comments_table = """
CREATE TABLE IF NOT EXISTS comments (
  id INT AUTO_INCREMENT, 
  text TEXT NOT NULL, 
  user_id INTEGER NOT NULL, 
  post_id INTEGER NOT NULL,  
  FOREIGN KEY fk_user_id (user_id) REFERENCES users(id), FOREIGN KEY (post_id) REFERENCES posts (id), 
  PRIMARY KEY (id)
) ENGINE = InnoDB
"""

create_likes_table = """
CREATE TABLE IF NOT EXISTS likes (
  id INT AUTO_INCREMENT, 
  user_id INTEGER NOT NULL, 
  post_id integer NOT NULL, 
  FOREIGN KEY fk_user_id (user_id) REFERENCES users(id), FOREIGN KEY (post_id) REFERENCES posts (id), 
  PRIMARY KEY (id)
) ENGINE = InnoDB
"""

execute_query(connection, create_comments_table)
execute_query(connection, create_likes_table)

### Inserting Records using SQLite

Now that we have created our tables its times to add some data to them. We will start by adding five records into the ``users`` table.

In [ ]:
create_users = """
INSERT INTO
  users (name, age, gender, nationality)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

execute_query(connection, create_users)

Since you set the id column to auto-increment, you don’t need to specify the value of the id column for these users. The users table will auto-populate these five records with id values from 1 to 5.

We will now insert six records into the ``posts`` table.

In [ ]:
create_posts = """
INSERT INTO
  posts (title, description, user_id)
VALUES
  ("Happy", "I am feeling very happy today", 1),
  ("Hot Weather", "The weather is very hot today", 2),
  ("Help", "I need some help with my work", 2),
  ("Great News", "I am getting married", 1),
  ("Interesting Game", "It was a fantastic game of tennis", 5),
  ("Party", "Anyone up for a late-night party today?", 3);
"""

execute_query(connection, create_posts)

It’s important to mention that the ``user_id`` column of the posts table is a foreign key that references the ``id`` column of the ``users`` table. This means that the ``user_id`` column must contain a value that already exists in the ``id`` column of the ``users`` table. If it doesn’t exist, then you’ll see an error.

Now lets inserts records into the ``comments`` and ``likes`` tables:

In [ ]:
create_comments = """
INSERT INTO
  comments (text, user_id, post_id)
VALUES
  ('Count me in', 1, 6),
  ('What sort of help?', 5, 3),
  ('Congrats buddy', 2, 4),
  ('I was rooting for Nadal though', 4, 5),
  ('Help with your thesis?', 2, 3),
  ('Many congratulations', 5, 4);
"""

create_likes = """
INSERT INTO
  likes (user_id, post_id)
VALUES
  (1, 6),
  (2, 3),
  (1, 5),
  (5, 4),
  (2, 4),
  (4, 2),
  (3, 6);
"""

execute_query(connection, create_comments)
execute_query(connection, create_likes)

### Inserting Records using MySQL

There are two ways to insert records into MySQL databases from a Python application. The first approach is similar to SQLite. You can store the ``INSERT INTO`` query in a string and then use ``cursor.execute()`` to insert records.

Earlier, you defined a wrapper function ``execute_query()`` that you used to insert records. You can use this same function now to insert records into your MySQL table. 

The following script inserts records into the ``users`` table using ``execute_query()``:

In [ ]:
create_users = """
INSERT INTO
  `users` (`name`, `age`, `gender`, `nationality`)
VALUES
  ('James', 25, 'male', 'USA'),
  ('Leila', 32, 'female', 'France'),
  ('Brigitte', 35, 'female', 'England'),
  ('Mike', 40, 'male', 'Denmark'),
  ('Elizabeth', 21, 'female', 'Canada');
"""

execute_query(connection, create_users)

The second approach uses ``cursor.executemany()``, which accepts two parameters:

- The query string containing placeholders for the records to be inserted
- The list of records that you want to insert

Look at the following example, which inserts two records into the ``likes`` table:

In [ ]:
sql = "INSERT INTO likes ( user_id, post_id ) VALUES ( %s, %s )"
val = [(4, 5), (3, 4)]

cursor = connection.cursor()
cursor.executemany(sql, val)
connection.commit()

### Selecting records using SQLite

To select records using SQLite, you can again use ``cursor.execute()``. However, after you’ve done this, you’ll need to call ``.fetchall()``. This method returns a list of tuples where each tuple is mapped to the corresponding row in the retrieved records.

To simplify the process, you can create a function ``execute_read_query()``:

In [ ]:
def execute_read_query(connection, query):
    cursor = connection.cursor()
    result = None
    try:
        cursor.execute(query)
        result = cursor.fetchall()
        return result
    except Error as e:
        print(f"The error '{e}' occurred")

In [ ]:
select_users = "SELECT * from users"
users = execute_read_query(connection, select_users)

for user in users:
    print(user)